::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 12px;
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #444 #121212;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.top-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 50%;
}

.hamburger {
  width: 30px;
  height: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.hamburger img {
  width: 100%;
  height: 100%;
  display: block;
}

.logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.logo img {
  width: 100%;
  height: 100%;
  display: block;
   object-fit: contain;
}

.search {
  display: flex;
  align-items: center;
  max-width: auto ;
  height: 40px;
  background-color: #121212;
  border-radius: 25px;
  gap: 12px;
  padding: 0 15px;
  margin:  0 10px 20px 10px;
  border: #444 solid 2px;
}

.search input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
}

.search input::placeholder {
  color: #b3b3b3;
  opacity: 0.5;
}

.search-icon {
  width: 30px;
  height: 30px;
}

.search-icon img {
  width: 100%;
  height: 100%;
}

.list ul {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.list ul li {
  text-decoration: none;
  list-style: none;
  font-size: 15px;
  font-weight: 700;
  color: #b3b3b3;
}

.button {
  display: flex;
  gap: 10px;
}

.login-btn {
  background-color: #b3b3b3;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
}

.login-btn:hover {
  font-size: 1rem;
  background-color: #1db954;
  width: 101px;
}

.bottom {
  display: flex;
  gap: 10px;
  margin: 10px;
  min-height: 90vh;
  position: relative;
}

.left {
  width: 35%;
  border-radius: 10px;
  padding: 25px 20px 2px 20px;
  display: flex;
  flex-direction: column;
  background-color: #121212;
   height: 85vh;   
}

.library {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: auto;
}

.library h2 {
  font-size: 18px;
}

.plus-icon {
  width: 15px;
  height: 15px;
}
.plus-icon img {
  width: 100%;
  height: 100%;
}

.song-list {
  margin-top: 20px;
  overflow-y: auto;
  max-height: 65vh;
}

.song-list ul li {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
  padding: 15px;
  margin: 10px;
  background-color: #1f1f1f;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  border: 2px solid rgb(43, 43, 43);
}

.song-list ul li img {
  width: 25px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.song-name {
  font-weight: 500;
  font-size: 14px;
}

.artist-name {
  font-size: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #b3b3b3;
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.playnow span {
  font-size: 13px;
  width: 65px;
}

.footer {
  margin-top: auto;  
  position: relative;
  bottom: 0;
  width: 100%;
  min-width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 20px 0 10px;
}

.footer p {
  font-size: 12px;
  color: #b3b3b3;
  text-align: center;
}

.right {
  width: 100%;
  border-radius: 5px;
  padding: 25px 20px 5px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
}

.playlist-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  overflow-y: scroll;
  height: 60vh;
  margin-bottom: 10px;
  align-items: start;
}

.card {
  position: relative;
  background: #181818;
  padding: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.card:hover {
  background: #222;
}

.card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.card h2 {
  font-size: 16px;
  margin: 12px 0 4px;
  color: #fff;
}

.card p {
  font-size: 13px;
  color: #b3b3b3;
  line-height: 1.4;
}

.playlist h1 {
  font-size: 25px;
  padding-bottom: 25px;
}

.play-btn {
  position: absolute;
  right: 20px;
  bottom: 90px;
  width: 44px;
  height: 44px;
  background: #1db954;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(8px);
  transition: all 0.25s ease;
}

.play-icon {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid white;
  margin-left: 6px;
}

.card:hover .play-btn {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.play-bar {
  margin-top: auto;
  width: 97%;
  background-color: #1f1f1f;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid rgb(43, 43, 43);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seekbar {
  position: relative;
  width: auto;
  height: 6px;
  background: transparent;
  cursor: pointer;
  margin: 0 25px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.seekbar-bg {
  position: absolute;
  width: 100%;
  height: 6px;
  background: #444;
  border-radius: 10px;
}

.seekbar-progress {
  position: absolute;
  width: 0%;
  height: 6px;
  background: #1db954;
  border-radius: 10px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.song {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.song-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.songinfo {
  width: auto;
}

.song-button img {
  width: 35px;
}

.songtime {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1200px) {
  .playlist-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .playlist-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 770px) {
  .logo {
  width: 40px;
  height: 40px;
  }

  .left {
    position: absolute;
    left: -200%;
    transition: all 0.3s;
    z-index: 3000;
    height: 85vh;
    padding: 20px;
    background-color: black;
    border-radius: 0px;
    width: 50%;
  }

  .footer p {
    font-size: 10px;
    padding: 0 2px;
  }

  .search input {
    font-size: 12px;
  }

  .hamburger {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .hamburger img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .library {
    padding: 10px 10px 0 10px;
  }

  .playlist-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .song-name {
    font-size: 12px;
  }

  .artist-name {
    font-size: 8px;
  }

  .playnow {
    gap: 6px;
  }

  .playnow span {
    font-size: 12px;
    width: 65px;
  }

  .song-list ul li img {
    width: 20px;
  }

  .play-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 96.5%;
    margin: 0;
    padding: 10px 12px 14px;
    border-radius: 0;
    z-index: 2000;
  }

  .seekbar {
    width: auto;
    height: 5px;
  }

  .seekbar-bg,
  .seekbar-progress {
    height: 5px;
  }

  .circle {
    width: 12px;
    height: 12px;
  }

  .song-bar {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 0 20px;
  }

  .song {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
  }

  .song-button {
    gap: 16px;
    flex-shrink: 0;
  }

  .song-button img {
    width: 30px;
    height: 30px;
  }

  #play {
    width: 30px;
    height: 30px;
  }

  /* TIME */
  .songtime {
    font-size: 12px;
    color: #b3b3b3;
  }
}

@media (max-width: 670px) {
  .left {
    width: 75%;
  }

  .search-icon {
    display: none;
  }
}

@media (max-width: 500px) {
  .left {
    width: 90%;
  }

  .card {
    margin: 0 10px;
  }

  .playlist-container {
    grid-template-columns: 1fr;
  }

  .play-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 95%;
    margin: 0;
    padding: 10px 12px 14px;
    border-radius: 0;
    z-index: 2000;
    display: flex;
    flex-direction: column;
  }

  .seekbar {
    height: 5px;
  }

  .seekbar-bg,
  .seekbar-progress {
    height: 5px;
  }

  .circle {
    width: 12px;
    height: 12px;
  }

  .song {
    padding: 0;
    margin-top: 8px;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
  }

  .songinfo {
    font-size: 14px;
  }

  .song-button {
    flex-shrink: 0;
  }

  .song-button img {
    width: 20px;
    height: 20px;
  }

  #play {
    width: 20px;
    height: 20px;
  }

  .songtime {
    font-size: 12px;
  }
}
